<div class="flex flex-row space-x-4">
  <button suiChip>
    <sui-avatar class="-ml-2 mr-2"></sui-avatar>
    Some Text
    <button suiCloseButton ></button>
  </button>
  <button suiChip>
    <p class=" text-sm font-medium text-gray-700 group-hover:text-gray-900">Tom Cook</p>
  </button>
  <button suiChip>
    <sui-avatar
      src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
      class="-ml-2 mr-2"></sui-avatar>
    Some Text
    <button suiCloseButton ></button>
  </button>

</div>
<p>Avatars:</p>

<sui-avatar src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"></sui-avatar>
<sui-avatar src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"></sui-avatar>
<sui-avatar></sui-avatar>
