<div class="inline-flex w-full flex-col items-start gap-1.5">
  <label class="font-medium transition-colors duration-300 ease-in-out peer-disabled:opacity-70 text-xs whitespace-nowrap text-black" for=":r32:" id=":r33:">Select</label>
  <button
    class="relative w-full truncate rounded-lg border border-slate-200 bg-white stroke-black px-3 pr-10 text-left text-sm font-medium text-black transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:bg-slate-50 disabled:stroke-slate-400 disabled:text-slate-400 disabled:placeholder-slate-400 min-h-[38px] py-2"
    aria-haspopup="listbox" aria-expanded="false">Choose an option<span class="absolute right-0 top-1/2 w-5 -translate-x-1/2 -translate-y-1/2">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
           class="size-5 stroke-inherit transition-transform duration-300 ease-in-out">
        <path d="M5.83325 8.33325L9.99992 12.4999L14.1666 8.33325"></path>
      </svg>
    </span>
  </button>
</div>

<!-- Required JavaScript -->
<!-- Not yet implemented -->



<button suiButton [class]="'bg-red-500'" (click)="setDisabled()" > Disable </button>

<button suiButton (click)="setEnabled()" > Enable </button>


<div class="max-w-sm pb-4">
  <label id="listbox-label-2" class="block text-sm font-medium leading-6 text-gray-900">Choices to</label>
  <div class="relative mt-2">
    <sui-select class="block w-full" [options]="items" [formControl]="ctrl" [placeholder]="'choose a user'"/>
  </div>
</div>

<button  suiButton (click)="setValue()" > Set value 4 </button><br>


Control value : {{ ctrl.value }}<br>
Errors: {{ ctrl.errors | json}}<br>
Errors: {{ ctrl.status}}<br>
Invalid: {{ ctrl.invalid | json}}<br>

<!--<div class="max-w-sm pb-4">-->
<!--  <div class="relative mt-2">-->
<!--    <sui-select  [options]="items" [formControl]="ctrl" [placeholder]="'choose a user'"/>-->
<!--  </div>-->
<!--</div>-->
