
<button suiButton [class]="'bg-red-500'" (click)="setDisabled()" > Disable </button>

<button suiButton (click)="setEnabled()" > Enable </button>


<div class="max-w-sm pb-4">
  <label id="listbox-label-2" class="block text-sm font-medium leading-6 text-gray-900">Choices to</label>
  <div class="relative mt-2">
      <button suiSelectControl [options]="items" [formControl]="ctrl" [placeholder]="'choose a user'" ></button>
  </div>
</div>

<button  suiButton (click)="setValue()" > Set value 4 </button><br>


Model: {{value()}}<br>
Control value : {{ ctrl.value }}<br>
Errors: {{ ctrl.errors | json}}<br>
Errors: {{ ctrl.status}}<br>
Invalid: {{ ctrl.invalid | json}}<br>
