
<button suiButton [class]="'bg-red-500'" (click)="setDisabled()" > Disable </button>

<button suiButton (click)="setEnabled()" > Enable </button>


<div class="pb-4 max-w-sm">
  <label id="listbox-label-2" class="block text-sm font-medium leading-6 text-gray-900">Choices to</label>
  <div class="relative mt-2">
    <sui-select
                [multiple]="true"
                [displaySelected]="'chip'" [options]="items"
                [formControl]="ctrl"
                [placeholder]="'Select a value'"
    />

  </div>
</div>

<button  suiButton (click)="setValue()" > Set value 4 </button><br>

Control value : {{ ctrl.value | json }}<br>
Errors: {{ ctrl.errors | json}}<br>
Errors: {{ ctrl.status}}<br>
Invalid: {{ ctrl.invalid | json}}<br>
