<button suiButton [cdkMenuTriggerFor]="menu" >Open</button>

<ng-template #menu >
  <div  class="w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" cdkMenu
       aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
    <!-- Active: "bg-gray-100", Not Active: "" -->
    <a cdkMenuItem   class="block px-4 py-2 text-sm text-gray-700"  id="user-menu-item-0">Your Profile</a>

    <a cdkMenuItem   class="block px-4 py-2 text-sm text-gray-700"  id="user-menu-item-1">Settings</a>

    <a cdkMenuItem class="block px-4 py-2 text-sm text-gray-700"  id="user-menu-item-2">Sign out</a>
  </div>
</ng-template>

<p class="pt-4"></p>

