<div class="max-w-sm pb-4">
  <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900 peer-aria-invalid:text-pink-600">Assigned to: </label>
  <div class="relative mt-2" >

    <input type="text"
           [cdkAutocompleteInput]="selectPortal"
           [formControl]="ctrl"
           cdkControlStatus
           placeholder="search"
           class="peer w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-12 text-gray-900 shadow-sm ring-1 ring-inset
         ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:bg-gray-200 aria-disabled:bg-gray-200 invalid:ring-red-600  aria-invalid:ring-pink-600"
    >

    <p class="mt-2 invisible peer-aria-invalid:visible text-pink-600 text-sm">
      This field aria-invalid
    </p>

    <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
      This field is invalid
    </p>

    <ng-template #selectPortal>
      <ul cdkSelectListbox >
        @for (item of filteredOptions | async ;track item) {
          <li>
            <a [cdkSelectOption]="item"

               class="group flex gap-x-3  p-2 text-sm leading-6 text-gray-700 cursor-pointer
           aria-selected:bg-indigo-500 aria-selected:aria-disabled:bg-indigo-300 aria-selected:text-white
           aria-[selected=false]:data-[active=true]:bg-gray-100
           aria-disabled:bg-gray-50 aria-disabled:cursor-not-allowed"
            >
              {{ item}}
            </a>
          </li>
        }
      </ul>
    </ng-template>
  </div>
</div>


Selected : {{ ctrl.value }}<br>
Errors: {{ ctrl.errors | json}}<br>
Errors: {{ ctrl.status}}<br>
Invalid: {{ ctrl.invalid | json}}<br>

<button suiButton  (click)="setEnabled()" > Enable </button><br>
<button suiButton (click)="setDisabled()" > Disable </button><br>
<button  suiButton (click)="setErrors()" > Errors </button><br>

