<div class="space-x-2 mb-3">
  <sui-button class="w-32" [cdkTooltip]="'below'" tooltipPosition="below">below</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'below.left'" tooltipPosition="below.left">below.left</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'below.center'" tooltipPosition="below.center">below.center</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'below.right'" tooltipPosition="below.right">below.left</sui-button>
</div>

<div class="space-x-2 mb-3">
  <sui-button class="w-32" [cdkTooltip]="'above'" tooltipPosition="above">above</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'above.left'" tooltipPosition="above.left">above.left</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'above.center'" tooltipPosition="above.center">above.center</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'above.right'" tooltipPosition="above.right">above.right</sui-button>
</div>

<div class="space-x-2 mb-3">
  <sui-button class="w-32" [cdkTooltip]="'left'" tooltipPosition="left">left</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'left.top'" tooltipPosition="left.top">left.top</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'left.center'" tooltipPosition="left.center">left.center</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'left.bottom'" tooltipPosition="left.bottom">left.bottom</sui-button>
</div>

<div class="space-x-2 mb-3">
  <sui-button [cdkTooltip]="'right'" tooltipPosition="right">right</sui-button>
  <sui-button [cdkTooltip]="'right.top'" tooltipPosition="right.top">right.top</sui-button>
  <sui-button [cdkTooltip]="'right.center'" tooltipPosition="right.center">right.center</sui-button>
  <sui-button [cdkTooltip]="'right.bottom'" tooltipPosition="right.bottom">right.bottom</sui-button>
</div>

<ng-template #tooltipPortal>

</ng-template>
