<div class="space-x-2 mb-3">
  <sui-button class="w-32" [cdkTooltip]="'above'" tooltipPosition="above">above</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'above.left'" tooltipPosition="above.left">above.left</sui-button>
  <sui-button class="w-32 h-36" [cdkTooltip]="'above.center'" tooltipPosition="above.center">above.center</sui-button>
  <sui-button class="w-32" [cdkTooltip]="'above.right'" tooltipPosition="above.right">above.right</sui-button>
</div>


<!--<div class="space-x-2 mb-3">-->
<!--  <sui-button class="w-32" [cdkTooltip]="'below'" tooltipPosition="below">below</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'below.left'" tooltipPosition="below.left">below.left</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'below.center'" tooltipPosition="below.center">below.center</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'below.right'" tooltipPosition="below.right">below.left</sui-button>-->
<!--</div>-->


<!--<div class="space-x-2 mb-3">-->
<!--  <sui-button class="w-32" [cdkTooltip]="'left'" tooltipPosition="left">left</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'left.top'" tooltipPosition="left.top">left.top</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'left.center'" tooltipPosition="left.center">left.center</sui-button>-->
<!--  <sui-button class="w-32" [cdkTooltip]="'left.bottom'" tooltipPosition="left.bottom">left.bottom</sui-button>-->
<!--</div>-->

<!--<div class="space-x-2 mb-3">-->
<!--  <sui-button [cdkTooltip]="'right'" tooltipPosition="right">right</sui-button>-->
<!--  <sui-button [cdkTooltip]="'right.top'" tooltipPosition="right.top">right.top</sui-button>-->
<!--  <sui-button [cdkTooltip]="'right.center'" tooltipPosition="right.center">right.center</sui-button>-->
<!--  <sui-button [cdkTooltip]="'right.bottom'" tooltipPosition="right.bottom">right.bottom</sui-button>-->
<!--</div>-->

<ng-template #tooltipPortal>

</ng-template>
<span  role="tooltip"
      class="pointer-events-none z-50 inline-flex items-center justify-center rounded-md px-3 py-1 font-semibold  transition-opacity duration-300 ease-in-out group-hover:opacity-100 bg-slate-900 text-white min-h-7 text-sm left-1/2 -translate-x-1/2 after:absolute after:block after:size-0 after:border-8 after:border-transparent after:border-t-slate-900 after:bottom-[-0.95rem] after:left-1/2 after:-translate-x-1/2 -top-10">
      Medium tooltip</span>

<div class="flex items-center justify-start gap-4">
  <!-- Primary Medium Tooltip -->
  <div class="group relative inline-block whitespace-nowrap">
    <div aria-describedby=":S1:">
      <!-- Tooltip Target -->
      <span class="flex size-6 cursor-pointer items-center justify-center rounded-full bg-slate-900 text-sm font-semibold text-white">i</span>
    </div>
    <span id=":S1:" role="tooltip"
          class="pointer-events-none absolute z-50 inline-flex items-center justify-center rounded-md px-3 py-1 font-semibold opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100 bg-slate-900 text-white min-h-7 text-sm left-1/2 -translate-x-1/2 after:absolute after:block after:size-0 after:border-8 after:border-transparent after:border-t-slate-900 after:bottom-[-0.95rem] after:left-1/2 after:-translate-x-1/2 -top-10">
      Medium tooltip</span>
  </div>
  <!-- Label -->
  <span class="text-sm text-slate-500">Medium</span>
</div>

<div class="flex items-center justify-start gap-4">
  <!-- Primary Small Tooltip -->
  <div class="group relative inline-block whitespace-nowrap">
    <div aria-describedby=":S2:">
      <!-- Tooltip Target -->
      <span class="flex size-6 cursor-pointer items-center justify-center rounded-full bg-slate-900 text-sm font-semibold text-white">i</span>
    </div>
    <span id=":S2:" role="tooltip"
          class="pointer-events-none absolute z-50 inline-flex items-center justify-center rounded-md px-3 py-1 font-semibold opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100 bg-slate-900 text-white min-h-6 text-xs left-1/2 -translate-x-1/2 after:absolute after:block after:size-0 after:border-8 after:border-transparent after:border-t-slate-900 after:bottom-[-0.95rem] after:left-1/2 after:-translate-x-1/2 -top-9">
      Small tooltip</span>
  </div>
  <!-- Label -->
  <span class="text-sm text-slate-500">Small</span>
</div>